*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a{
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 60 px;

}
.alert-info{
    text-align:center ;

}
